{##}
{#<section id="footer">#}
{#    <img alt="LOGO">#}
{#    <div id="footer_Content">#}
{#        <div>#}
{#            <ul id="hyperlinks">#}
{#                <li><a href="/homepage">Home</a></li>#}
{#                <li><a href="/shop">Shop</a></li>#}
{#                <li><a href="/about">About</a></li>#}
{#            </ul>#}
{#            <ul id="recommendation">#}
{#                <h4>Our Recommandation</h4>#}
{#                <li>item 1, 2pcs</li>#}
{#                <li>item 1, 2pcs</li>#}
{#                <li>item 1, 2pcs</li>#}
{#                <li>item 1, 2pcs</li>#}
{#                <li id="orderBtn"><a href="&nbsp">Order Now </a></li>#}
{#            </ul>#}
{#        </div>#}
{#        <span id="slogen">#}
{#            H a v e &nbsp&nbsp a &nbsp&nbsp n i c e <br> H a l i T E A  :)#}
{#        </span>#}
{#    </div>#}
{#</section>#}
{##}
<div class="footer">
  <div class="contain">
  <div class="col">
    <h1>Company</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>Products</h1>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/shop"><li>Shop</li></a>
      <a href="about"><li>About</li></a>
    </ul>
  </div>
  <div class="col">
    <h1>Resources</h1>
    <ul>
      <li>Webmail</li>
      <li>Redeem code</li>
      <li>WHOIS lookup</li>
      <li>Site map</li>
      <li>Web templates</li>
      <li>Email templates</li>
    </ul>
  </div>
  <div class="col">
    <h1>Support</h1>
    <ul>
      <li>Contact us</li>
      <li>Web chat</li>
      <li>Open ticket</li>
    </ul>
  </div>
  <div class="col social">
    <h1>Social</h1>
    <ul>
      <li><img src="{{ url_for('static', filename='media/img/icon/Twitter.png') }}" width="32" style="width: 32px;"></li>
      <li><img src="{{ url_for('static', filename='media/img/icon/Whatsapp.png') }}" width="32" style="width: 32px;"></li>
      <li><img src="{{ url_for('static', filename='media/img/icon/Youtube.png') }}" width="32" style="width: 32px;"></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>